<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wifirigctrl</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.ji1ore.wifirigctrl</string>
		</dict>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Piサーバーをネットワーク上で自動検索するために使用します。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_hamlib._tcp</string>
		<string>_atomcw._udp</string>
		<string>_workstation._tcp</string>
	</array>
</dict>
</plist>
